* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.zoekMargin{
    width: 80%;
    margin: auto;
}

.alleProducten {
    margin-top: 50px;
}

.pricei{
    color: #777777;
}

.afmetingCard{
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    background-color: rgba(253, 246, 255, 0);
    float: left;
    width: 20%;
    height: 500px;
    margin-top: 40px;
    margin-left: 4%;
    font-family: Arial, serif;
    margin-bottom: 20px;
    border-radius: 15px;
}

.card {
    text-align: center;
    padding: 0 10px;
    margin-top: 40px;
}

.onder{
    position: absolute;
    padding: 0 10px;
    bottom: 20px;

}

.price {
    color: black;
    font-size: 22px;
}


.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #6a8be1;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    margin-bottom: 20px;
    border-radius: 8px;

}

.card button:hover {
    opacity: 0.7;

}

h1 {
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2{
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

.img {
    margin-top: 20px;
}

.div-image{
    float: left;
    height: 400px;
    width: 400px;
   
}

.div-image img {
    border: 1px solid black;
    height: 100%;
    width: 100%;
}

.product-omschrijving {
    float: left;
    margin-left: 5%;
}

.md5 {
    margin-top: 5px;
}


.link a {
    background-color: #6a8be1;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.content-product {
  margin-left: 10%;
  margin-top: 130px;
  width: 80%;
  height: 500px;
}

.content {
  margin-top: 100px;
  /* float: left; */
}

.nav {
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 1000;
  top: 0;
}
#aantal25{
    float: right;
    border: none;
    background-color: #0006f3;
    height: 25px;
    width: 30px;
    margin-left: 10px;
    margin-right: 50px;
}

#aantal50{
    float: right;
    border: none;
    background-color: #0006f3;
    height: 25px;
    width: 30px;
    margin-left: 10px;
}

#aantal100{
    float: right;
    border: none;
    background-color: #0006f3;
    height: 25px;
    width: 30px;
    margin-left: 10px;
}

#aantal25:hover{
     opacity: 0.7;
 }

#aantal50:hover{
    opacity: 0.7;
}

#aantal100:hover{
    opacity: 0.7;
}
#resultaten {
    margin-top: 150px;
    margin-left: 13%;
}

.knopVerzenden {
    margin-left: 200px;
}

.locatie {
    float: right;
    margin-top: -170px;
}

.uwVraag {
    height: 185px;
    width: 268px;
}
.afmetingCardBeter{
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    background-color: rgba(253, 246, 255, 0);
    float: left;
    width: 20%;
    height: 500px;
    margin-top: 10px;
    margin-right: 2.5%;
    margin-left: 2.5%;
    font-family: Arial, serif;
    margin-bottom: 20px;
    border-radius: 15px;
}

.categorieLayout {
  float: left;
  display: block;
  /* background-color: #0006f3; */
  border-color: #717171;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  /* border: 1px solid black; */
  height: 140px;
  width: 8%;
  margin-right: 1%;
  margin-left: 1%;
}

.containerOntdek {
  /* background-color: red; */
  height: 200px;
  width: 100%;
}

.categorieLayout img {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid black;
}
.tekst {
  text-align: center;
  color: black;
}

/*---------------------------Bestelprocedure-----------------------------*/

.progressBar{
    margin-bottom: 20px;
    margin-top: 20px;
}

.factuurData{
    font-size: 20px;
    display: table;
    width: 100%;
}

.factuurText{
    font-size: 20px;
    float: left;
    margin-right: 10%;
}

.uwGegev{
    display: inline-block;
}

.verzendPrijs{
    display: inline-block;
    margin-left: 55%;
}

.tableColumn{
    padding: 10px;
}

/*---------------------------Bestelprocedure-----------------------------*/
.verzending-316{
    float: left;
    font-size: 16px;
}

.overzicht{
    padding-bottom: 5%;
}

.submitGegev{
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #6a8be1;
    text-align: center;
    cursor: pointer;
    width: 135px;
    font-size: 18px;
    margin-top: 20px;
    border-radius: 8px;
}

.overzichtAdres{
    border-radius: 5px;
    border-color: black;
    border-width: medium;
}

.verzendType{
}

.overzicht h2{
    margin-top: 0;
}

.overzicht-border{
    margin-top: 40px;
    border-color: #99aebb;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    padding: 5%;
    box-shadow: 0 10px 6px -9px #777;
}

.overzichtKlantgegevens{
    float: left;
    width: 240px;
}

.overzichtBestelling{
    float: right;
    width: 360px;
}

.button-afrekenen{
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #6a8be1;
    text-align: center;
    cursor: pointer;
    width: 135px;
    font-size: 18px;
    margin-top: 20px;
    border-radius: 8px;
}

.overzicht-foto{
    margin-top: -15px;
    margin-left: 70%;
    width: 100px;
}

.overzicht-prijs{
    text-align: right;
    margin: 5%;
    margin-right: 8%;
}

.overzicht-product{

}

.overzicht-totaalprijs{
    text-align: right;
    margin-top: 20px;
    margin-right: 8%;
}

.betalingkeuze{
    margin: auto;
    width: 40%;
    height: 50%;
}

.form-afrekenen{
    margin-left: 56%;
}

.vorigestap{

}



/*------------------------Bestelprocedure einde--------------------------*/
