* {
    margin: 0;
    padding: 0;
    font-family: Arial, serif;
    color: black;
}

.algMargin{
    margin-left: 200px;
    margin-right: 200px;
    position: static;
}

#menuBalk{
    background-color: #00AEEF;
    height: 120px;
    line-height: 120px;
}

#logo{
    position: sticky;
    float: left;
    margin-top: 15px;
    height: 90px;
    line-height: 120px;
    vertical-align: middle;
}

.categ{
    font-size: 20px;
    float: left;
    margin-left: 25%;
}

.menubalk-foto{
    height: 90px;
    line-height: 120px;
    vertical-align: middle;
}

#accountclick{
    display: none;
    position: fixed;
    text-align: center;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.2);
    padding-top: 60px;
}

.modal{
    position: absolute;
    height: 300px;
    width: 200px;
    left: 43%;
}

#searchBar{
    float: left;
    margin-left: 10%;
}

.rechts{
    float: right;
}